.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.custom-switch {
    width: 74px !important;
  }
  
  .custom-switch .ant-switch-handle::before {
    border: 1px solid #899294;
  }

.custom-steps .ant-steps-item-title {
  color: #C4C7C7 !important; 
}

.custom-steps .ant-steps-item-active .ant-steps-item-title {
  color: #A9F926 !important; 
}

.custom-steps .ant-steps-item-finish .ant-steps-item-title {
  color: #91DB00 !important; 
}